# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Encosystem are summarized.

Some of the popular languages that Data Scientists use are:
Ordered List
* R
* Java
* SQL

Some of the commonly used libraries used by Data Scientists include:
Ordered List: 
* Pandas
* NumPy
* SciPy

# Data Science Tools
| Programming Language | Developer |
|----------------------|-----------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

his a simple arithmetic expression to mutiply then add integers

This will convert 200 minutes to hours by diving by 60

In [9]:
(200/60)

3.3333333333333335

***Objectives:***
List popular languages for Data Science
* R
* Phython
* SQL
* JAVA
* Julia

## Author : Yoshiko M